.cookies-alert {
  background: $light-gray;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: $s 0;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 1030;

  .cookies-alert-body {
    margin: 0 $xxl;
  }

  .cookies-alert-buttons {
    margin-right: $xxl;
    padding: $l 0;

    a {
      margin-right: $m;
    }
  }
}

.hide {
  display: none;
}

@media only screen and (max-width: 1000px) {
  /* For tablets and mobile: */
  .cookies-alert {
    display: flex;
    flex-direction: column;

    .cookies-alert-buttons {
      margin: 0 auto;
      text-align: center;
    }
  }

  .hide {
    display: none;
  }
}
