.docs {
  .toolbar {
    height: 40px;
  }

  .tabs {
    margin-top: -104px;

    .tab-list {
      margin-left: -2em;
      top: 82px;
    }
  }

  .cta-installing {
    margin-top: 0.67em;
  }

  img {
    max-width: 619px;
  }
}
